<div class="col-md-offset-1 col-md-4">
  <form class="form-horizontal ">
      <mat-form-field>
          <input type="text" id="studentId" matInput placeholder="Student ID" value="{{student.id}}">
      </mat-form-field>
      <p></p>
      <mat-form-field>
            <input type="text" id="studentName" matInput placeholder="Name" value="{{student.name}}  {{student.surname}}">
      </mat-form-field>
      <p></p>
      <mat-form-field>
          <input type="text" id="studentName" matInput placeholder="Pen Amount" value="{{student.penAmount}}">
      </mat-form-field>
  
    <div class="form-group">
      <label class="col-sm-2 control-label">File input : </label>
      <div class="col-sm-10">
        <img class="img-responsive" [src]="student.image" [alt]="student.image">
        <p class="help-block">Leave here for the file preview later.</p>
      </div>
    </div>
    
    <mat-form-field>
        <input type="text" id="studentName" matInput placeholder="Description" value="{{student.description}}">
    </mat-form-field>
        
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Add</button>
      </div>
    </div>
  </form>
</div>
