<div class="col-md-offset-1 col-md-4">
  <form class="form-horizontal ">
      <mat-form-field>
                <input type="text" id="studentId" matInput placeholder="Student ID">
      </mat-form-field>
      <p></p>
      <mat-form-field>
            <input type="text" id="studentName" matInput placeholder="Name">
      </mat-form-field>
      
      <div class="form-group">
        <label class="col-sm-2 control-label">Pen amount : </label>
        <div class="col-sm-10 form-inline">
          <button type="button" class="btn btn-primary btn-xs col-md-1 button-amount" (click)="downQuantity(student)">-
          </button>
          <input type="text" class="col-md-1 form-control input-amount" value="0">
          <button type="button" class="btn btn-primary btn-xs col-md-1 button-amount" (click)="upQuantity(student)">+
          </button>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">File input : </label>
        <div class="col-sm-10">
          <input type="file" class="btn btn-default" id="exampleInputFile">
          <p class="help-block">Leave here for the file preview later.</p>
        </div>
      </div>
      <mat-form-field>
          <textarea id="studentDescription" matInput placeholder="Description" ></textarea>
      </mat-form-field>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Add</button>
        </div>
      </div>
  </form>
</div>
